201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				取消旅游资格	0	河南省郑州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				现在越来越接近了，去年元月以后退休的与企业职工相差不大了，现在企业职工退休也拿到差不多4000了。	0	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				国家旅游局应给丽江AAA	0	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				流氓观员	0	广东省广州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				正常回应，你说永远不会去，那就永远别来了呗	0	中国其它
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				网友永远不会去的地方就是丽江！	1	上海市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				从丽江市古城区官微的傲慢的态度中，可以看出，到丽江去玩，社会层面会受到店家的宰和打，政府层面会受到官爷的怼和骂，这已非一日之寒！	2	上海市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				南蛮之地？我怎么觉得是区域歧视？	1	云南省普洱市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				我去过四次丽江，而且就有朋友在丽江开客栈，这方面不用介绍。<br><br>问题的关键，当地官员不是外来的吧？当地的城管、旅游、工商、警察不是外来的吧？那些在拉市海打人的纳西汉子，不是外来的吧？那些拉人去家访的藏族导游，不是外来的吧？他们从中拿了多少好处，形成了多粗的利益链条你知道么？<br><br>不要一出了情况就都是外地人的错，如果当地民风淳朴、政治清明、官员廉洁，就算有几个奸商，又能起多大的负面作用呢？	22	吉林省长春市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				反四风已到深水区，丽江官微居然还如此官僚，如此轻率推责，结果只能是自己打脸，与事无益。通过近期的诸事可以看出，丽江管委当爷的心态由来已久，思想根深蒂固，不大整顿无以平民愤。	1	甘肃省兰州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				日本人不管内心里怎么想，但他们知道来的都是自家客人，是给自己带来热闹和繁荣，他们装也要装出样子，所以任何时候他们对顾客总是彬彬有礼，在这方面人家素质就比丽江人高得多，他们至少不会坑害、打客人，至少让游客感到安全。	13	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				前年去了趟云南光购物就花了二万元，一堆东西到现在也没用完，如果不是强制购物我不会买那么多无用的东西的，现在想想简直就是上当受骗了！	1	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				垃圾地方！	0	贵州省六盘水市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				确实	0	四川省成都市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				自己砸自己的牌子！都不来你吃什么？	0	云南省昆明市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不要再忽悠国企老职工了，养老金好久真正接轨。	0	陕西省西安市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不会再去了，	0	云南省昆明市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不反感苏州人的广告，苏州人温文尔雅，愿意在苏州消费！那是一种享受！苏州人好客，吳侬软语听着都舒服！饮食也甜中带酸，回味隽永，我也愿意替苏州做一番免费广告！云南丽江，你们.不配！	1	上海市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				艳遇之都君莫去；小心处处王八坑。摆下彩云阵	1	陕西省西安市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不反感苏州人的广告，苏州人温文尔雅，愿意在苏州消费！那是一种享受！苏州人好客，吳侬软语听着都舒服！饮食也甜中带酸，回味隽永，我也愿意替苏州做一番免费广告！云南丽江不配！.	1	上海市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				是啊，千错万错都是旅遊客人的错，认得丽江旅遊业的凶恶戾害，不去总行了吧？少我一个不少，多我一个不多嘛，我们干嘛要对丽江自作多情呢？	2	上海市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				好官，爱去不去，大丽江不缺几个游客，反正全国煞笔多了去。	2	江苏省泰州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				敢做不敢认。	1	新疆维吾尔乌鲁木齐市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				难怪那么嚣张对待游客，原来有官员与其沆瀣一气。	2	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				中国旅游官商黑一条经济链经营。官员是股东、商人是经理、职工是黑社会。	1	辽宁省沈阳市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				好！	0	浙江省杭州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				去那里干嘛！	0	山东省济南市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				说的对！云南这些人是占了风景的光，没有风景谁去！	2	山东省济南市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不仅是砸丽江人的饭碗，还丢国人的脸。	2	江西省南昌市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				明白人	1	重庆市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江古城还收买路钱，和土匪没两样	2	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不是内部人所为?哄鬼吧!	2	河南省开封市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				什么狗地方！全特么人渣聚集！	0	外星
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				动不动上纲上线也是一种流氓	0	江苏省南京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				老实待在家里比较好！	2	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				报TM什么警啊，	1	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不从根本解决问题，停一两个人的职有屌用。只不过推卸责任而已。	2	贵州省贵阳市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江永远不会去！还怼吗？欢迎	0	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				有这样的领导丽江不乱才怪呢！！！	1	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				下次你也不买东西被打就别说是自找的啊	0	广西壮族桂林市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				停职，什么时候复职？	0	湖北省武汉市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江古城出问题就和当地政府有着直接的关系，这次政府出来表态就说明了这一点	4	内蒙古呼和浩特市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				恶心啊，敢做不敢当，敢说不敢认，国家，云南省，丽江古城，看看你们的官员，丑陋到让人无法直视。	4	甘肃省兰州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				腐败严重，	1	四川省成都市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江古城是游客恶梦！	4	山西省太原市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				我每看到这个字“怼”就有气！！！这年头什么偏字、生字都时不时的出来了，好象他不弄几个偏生字就不显示出他有学问似的。象之前的“囧”，现在好象也不怎么用了，没文化就不要显摆了，好吗？	3	广东省深圳市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				做错事死不承认，成为现在不合格官员、贪官、恶官的普遍现象。	4	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				广告！	0	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江官方真他妈霸气	3	重庆市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				敢做不敢当，丽江官员也就这素质	3	浙江省杭州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不知今年又出現了這兩個字！新名字！怒懟是什么意思？？？罵人還懟視？什么程度？官微怒懟網友？特朗普怒懟媒體？記者怒懟特朗普？怒懟是友好還是敵視？	0	广东省梅州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				好，就按他说的不去就不去。	3	河北省石家庄市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				不去那鬼地方就不会被坑，丽江古城已完全变味，到处是酒吧，坑人的手段绝不亚于水浒中孙二娘开的店，就差卖人肉包子了。	0	江苏省南京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				拆除这个垃圾地方！留下给全国人民没什么好处！	2	四川省德阳市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				嘿嘿，又是临时工干的	2	广东省东莞市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				原以为丽江风光如何好，到那一看原来如此都是些假文人帮吹出来的。记得看过一所谓文化人说租房子在丽江边每天与三五朋友喝茶聊天，日子过得悠闲慵懒赛活神仙，描述得是有点吸引人。其实首先，名为丽江其实无江，有条金沙江【不大】离丽江有百多里，一些所谓酒吧沿着条小水渠【小溪都算不上，其实就一下水道】放着振耳欲聋的与其说是音乐倒不如说是噪声，下水渠即酒吧门前一条羊肠小道，游客摩肩接踵而过看稀奇。另外就几条仿古街坊卖着各色仿古及各色所谓玉石。与所谓香格里拉一样其实根本没什么看头不值一游。倒还是大理还有个洱海还值得看看。	25	湖南省长沙市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				没去过丽江，不敢去了！！！！	1	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				如果政府工作人员都是这个态度，丽江旅游市场的混乱能治理好吗？我没去过丽江本想去一下，现在都没心去了！	0	甘肃省兰州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				又造谣有人盗号，一个理由怎能用两次？<br>难道你们是猪，管不好自己的帐号？	6	吉林省长春市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				这些官员不学习不开阔胸襟和眼界，肯定短视狭隘，由他们管理一个区域事物真的是这个地方的悲哀。	3	湖南省长沙市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				人家不是说了吗？爱来不来有你不多没有你不少！我觉得听到这样的话有点血性的有点志气的人都不应该再去那里了！人家的口气是把你当客人吗？既然不把游客当客人那就坚决抵制坚决不去！！！	4	甘肃省兰州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				如此处理大快人心，看来丽江还是有希望的。多年前去过丽江，民风淳朴，景色优美。怎么这几年老出负面信息呀。教训呀！！这次如此重要的宣传部门，居然一点舆情处理常识都没有。其解释不专业且漏洞百出。身为管理微博的人，高呼以某部手机登陆是官方，同号用另一部手机登陆就不是官方，这种外行话也能讲呀！你难道觉得网友生活在石器时代？你自己管理的微博号既能在手机上登陆，也可以在电脑上登陆都不知道吗？建议丽江有关部门加强舆情处理业务培训。	20	浙江省杭州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				是呀，日本那么恶，但是去的人照样那么多，是因为人家普通人整体素质高，不管心里再不愿意在不舒服，人家面子上让你过得去。云南人是里子都不给你啊！	6	青海省西宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				这样的人还能当官员吗？有这些人在管理丽江古城还有希望吗？	15	内蒙古呼和浩特市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				在中国旅游非要找导游，非要跟团，自己嫌麻烦，贪便宜。真正旅游还是自己订票、订房间、慢慢游才会开心！	0	青海省西宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				败坏的是仅仅是个体？云南，不提也罢！	5	上海市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				中午明白了丽江歹徒这么胆大包天！是有部分官员做后台啊！都该抓了法办！	12	天津市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				官员听起来很别扭，不如叫干部。以后领导干部就叫领导官员吗？	2	吉林省长春市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				就是之前太捧着了，把孩子们养叛逆了，丽江是准备独立了么？	4	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				古人曰：主雅客来勤。主家对来客满脸春风满腔热情，使客人有回到自己家的感觉，客人就会流连忘返，回来了还想再去第二第三次，客流多的地方才好发展经济嘛，你那地方没有重工业没有多少工业产品，就应该在服务行业方面下功夫，可是服务业没有了顾客怎么做？只面向自己的邻居和熟人能成什么大气候？而做服务业面对的是人，肯定要耐心一点，谦卑一点，碰到不讲理的来客，处理的要做到有理、有利、有节，让肇事者既受到处罚又心服口服。这才是文明的做法，丽江人不具备这点素质吗？	22	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				以为自己有点权力就可以压迫人民吗？？？	1	广东省广州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				云南旅游从业者从上到下都特别NB，你们NB吧，我不去了	3	内蒙古呼和浩特市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				没有一点对政府和人民负责任的态度意识，这样的官员留他何用！	2	山东省济南市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				财大气粗呗！	2	海南省海口市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				宋喆：有钱太多？！------最好去国内比较贫困的地区去搞扶贫	0	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				游客对丽江的抱怨投诉由来已久不是没有原因的，发生问题的根子与关键原因还在直接的关键的管理部门。这些管理部门不深刻从人员观念，管理理念，制度，服务等方面全面革新与提高问题就不会得到很好解决。	15	山西省太原市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				怎么这么多姓和的公务员和社会小混混？？？？？？？	0	四川省成都市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				蔡英文：云南好点------挨打而已！来老娘我台湾的话？-----不搞死你们这些有钱心毒的（为富不仁）？老娘我不姓蔡	2	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				有钱人------吃撑了------为什么不到贫困地区去搞扶贫------而去云南找打------去台湾找死------	0	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				和俭  李国璋	1	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				想起当年十万大众下海南，海南人是多么恶气，后来十万大众差不多都离开海南了，海南就傻逼了。	5	广东省广州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				傲慢的丽江，因为有傲慢的官方！	17	辽宁省沈阳市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				狗官也不少啊…… 提意见他们要报警抓的！唉…… 相信那里也有不少好干部的.	8	浙江省杭州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江古城成了臭江古城了	5	湖南省长沙市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江社会风气已经毒化到根里了。山西因煤炭败坏风气，丽江因被旅民宠爱而不知高低。可惜啊。	5	广东省广州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				他的头有短换个地方继续，	0	辽宁省沈阳市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				前段时间也就打算两三年不去；嗯；现在我是一辈子不会去了；那里的人太吊了。世界旅游的地方千千万多他一个不多少他一个不少	13	上海市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				可以看出云南官场的三观不正，这不是个别问题，是整体素质太差。	14	重庆市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				赶客人，不会去，	6	广东省广州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				说的对！有谁不多，没谁不少！但是你记住了，虽然每个人花费的钱对云南经济增长不值一提，可就是不去云南消费一分钱。这些天终于看清了云南人从官员到民众的素质。云南这个地方就是充满了野蛮、无知、毫无人性和整体的低下。天下美景数不胜数，云南不是非去不可。云南人的肮脏和丑陋辜负了游客，既然如此就远离云南，真爱生命。	36	黑龙江省哈尔滨市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江为啥能成今天这个样，看看当地官员的微博，就能找到答案了。	13	山东省济南市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				丽江不再需要诚信，去与不去都是你自己选择的，政府还真不在乎你的来与不来，别太把自己当上帝了。	4	湖南省郴州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				[冷汗][冷汗][冷汗][冷汗][冷汗]	1	山西省太原市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				去过一趟，不会再去了，水太深。	11	上海市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				你好.玩的开心吗？[大笑][大笑][大笑][大笑][大笑][大笑][大笑]	0	山西省太原市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				你简直就是傻逼	3	甘肃省兰州市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				这种官员戴着一顶官帽还受点约束装装正人君子的样子，如果是个普通人绝对是个无恶不作的地痞流氓！	10	广西壮族南宁市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				你不去丽江能死得了吗？	8	山西省太原市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				做好旅游，绝不是件弄些酒店、建个街道、摆个广场等这些简单的事情，人的素质才是最重要的，根本的！云南的好山好水被当地那些渣滓们毁掉了，去也没啥意思了！	7	北京市
201702280017	新闻;新闻	丽江处理“官微怒怼网友”事件 两官员被停职立案_网易新闻;丽江古城区回应“官微怒怼网友”：两官员被停职_凤凰资讯	158	http://news.ifeng.com/a/20170227/50736781_0.shtml				反正不论怎么样以后也不会去了，就象以前我去邮局寄本书，居然寄丢了，至今几十年我都不会去邮政寄任何东西的，哪怕它改成了快递，也不会去了	4	江西省南昌市
